
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="~/UploadedFiles/coperta.jpg" alt="coperta" style="height:100%;width:100%;align-content:center" />
    </div>
</div>
