
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid" style="height:500px; padding-top:25px;">
    <div class="container">
        <img src="~/UploadedFiles/coperta.jpg" alt="coperta" style="width:100%;height:450px;" />
    </div>
</div>
