<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SchoolJournal (ASP.NET Application)</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="~/Home/Index">School Journal</a>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <!-- Links -->
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Contact">Contact</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings@*<i class='fas fa-cog'></i>*@
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbardrop">
                            <a class="dropdown-item" href="~/Student/Index">Students</a>
                            <a class="dropdown-item" href="~/Teacher/Index">Teachers</a>
                            <a class="dropdown-item" href="~/Semester/Index">Semesters</a>
                            <a class="dropdown-item" href="~/Course/Index">Courses</a>
                            <a class="dropdown-item" href="~/Homework/Index">Homeworks</a>
                            <a class="dropdown-item" href="~/Grade/Index">Grades</a>
                            @*<a class="dropdown-item" href="~/TermReport/Index">TermReports</a>*@
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content" style="margin-top:50px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - School Journal Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>