
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>
    <div> 
        <h2>404!</h2>
        <img src="~/Content/404-cat.jpg" alt="404 Cat" />
    </div>
</body>
</html>
